@model HSRG___Inventory.Models.MotherBoardInformation

<div>
    <table class="table-bordered">
        <tr>
            @foreach (System.Reflection.PropertyInfo property in ViewBag.properties)
            {
                if (property.Name != "ComputerID")
                {
                    <th>@property.Name</th>
                }
            }
        </tr>

        <tr>

            @foreach (System.Reflection.PropertyInfo property in ViewBag.properties)
            {
                if (property.Name != "ComputerID")
                {
                    <td>@property.GetValue(Model, null)</td>
                }
            }
        </tr>
    </table>
</div>
